.main-content {
	margin: 0 55px;
	overflow: auto;
}

.content-course {
	margin-top: 40px;
	margin-bottom: 60px;
}

.course-margin {
	margin-top: 60px;
}

.course-header {
  display: flex;
  justify-content: space-between;
}

.header-info {
  display: flex;
  flex-direction: column;

	
	white-space: nowrap;
}

.info-level {
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 0.4;
}

.info-name {
  margin-top: 7px;
  font-size: 22px;
  line-height: 18px;
}

.header-btns {
  display: flex;
  height: 30px;
  margin-top: 11px;
	
	white-space: nowrap;
}

.btn {
  padding: 7px 12px 6px 13px;
  background: linear-gradient(90deg, #6b69f9 0%, #6f6eff 100%);
  border-radius: 4px;
}

.small-btn {
  margin-right: 5px;
  font-size: 12px;
  line-height: 17px;
}

.regular-btn {
  font-size: 13px;
  padding: 10px 22px 10px 15px;
}

.btn-arrow {
  position: relative;
  margin-left: 5px;
  height: 30px;
  width: 30px;
}

.btn-arrow:hover .arrow {
  opacity: 0.5;
}

.btn-border {
  height: 30px;
  width: 30px;
  opacity: 0.15;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}

.arrow {
  position: absolute;
  top: 10px;
  left: 12px;
}

.course-items {
	display: flex;
  margin-top: 25px;
	gap: 11px;
}

.item-card {
	position: relative;
	display: flex;
  flex-direction: column;
  width: 255px;
  height: 294px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 6px;
}

.card-img {
  width: 255px;
  height: 144px;
  border-radius: 6px 6px 0px 0px;
}

.card-type {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 50px;
	height: 20px;
	background: #6F6EFF;
	border-radius: 3px;
	font-size: 12px;
	line-height: 12px;
	padding: 4px 5px 4px 6px;
}

.card-info {
	display: flex;
	flex-direction: column;
	margin: 15px 15px 0;
}

.card-name {
  font-size: 16px;
  line-height: 12px;
}

.card-description {
	margin-top: 10px;
	line-height: 18px;
	opacity: 0.5;
}

.card-divider {
	margin-top: auto;
	width: 100%;
	height: 1px;
	background: #D8D8D8;
	opacity: 0.1;
}

.card-metadata {
	display: flex;
	margin-top: auto;
	align-items: center;
	justify-content: space-between;
	margin: 16px 15px 15px 15px;
}

.card-date {
	font-size: 13px;
}
