* {
  font-family: 'Jost', sans-serif;
  box-sizing: border-box;
  scrollbar-width: 0;
  font-size: 14px;
  line-height: 10px;
  color: #ffffff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
	mix-blend-mode: normal;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

li {
  list-style-type: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  margin: 0;
  background: #2b2c3a;
}

.main {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 0;
}

.regular-text {
  font-size: 14px;
  line-height: 10px;
  color: #ffffff;

  opacity: 0.5;
}

.regular-text:hover {
	opacity: 1;
}